<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

<display-name>To do List</display-name>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

<!-- configured servlets using annotations -->
<!-- <servlet>
  	<servlet-name>LoginServlet1</servlet-name>
  	<servlet-class>com.in28minutes.login.LoginServlet</servlet-class>
  </servlet>  
    <servlet-mapping>
  	<servlet-name>LoginServlet1</servlet-name>
  	<url-pattern>/login.do</url-pattern>
  </servlet-mapping> -->
    
 <!--  <servlet>
  	<servlet-name>insertStudentServlet</servlet-name>
  	<servlet-class>com.learning.web.insertStudentServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
  	<servlet-name>insertStudentServlet</servlet-name>
  	<url-pattern>/insertStudent</url-pattern>
  </servlet-mapping> -->

</web-app>